%h1.title Save Star Trek Fan Films

%p
  :kramdown
    On June 23, 2016, CBS/Paramount, the copyright holders of the Star Trek franchise
    [issued a set of guidelines](http://www.startrek.com/fan-films){:target="_blank"} for all Star Trek fan films.
    These guidelines must be followed by the makers of any Star Trek fan production to avoid the risk of a copyright
    infringement lawsuit from these big corporate studios.

%p
  :kramdown
    This website, SaveStarTrekFanFilms.com is created by Star Trek fans who enjoy our community-generated fan
    films. We believe that the new fan film guidelines are too onerous and we are advocating a letter-writing campaign
    to CBS/Paramount in the hope that they repeal or loosen the restrictions. Already, several fan productions
    have been shut down. These guidelines also will make it impossible for the most well-liked
    fan productions such as Star Trek New Voyages and Star Trek Continues to continue making new content.

%p
  :kramdown
    If you want the full history on what triggered CBS/Paramount to issue fan film guidelines and its impact
    on the Star Trek fan film community, we recommend visiting the blog
    [AXA Monitor](http://www.axamonitor.com/){:target="_blank"}.


%h3 Letter Writing Campaign

%p
  :kramdown
    As fans of Star Trek, we believe that CBS/Paramount is making a terrible mistake and missing a golden
    opportunity to connect with its most dedicated customers. We want to make our voice heard by the executives
    who imposed these guidelines. We want to let them know that what's good for the Star Trek fan community is good
    for the franchise and their business as well.

%h4 How does this work?

%p
  :kramdown
    A letter writing campaign by fans saved Star Trek from cancellation during its original television run in the 60's.
    We are hopeful that the same strategy could be effective in preserving the community's ability to create fan films
    today. Letters delivered by mail send a more powerful message than email because they are tangible require more
    effort.

%p
  :kramdown
    This website SaveStarTrekFanFilms.com is here to make it easy for fans to write a letter! Type out your
    thoughts on the new Star Trek fan film guidelines using our form and we will forward your letter to CBS/Paramount.
    We plan on forwarding all of your letters received through this website to John Van Citters, the CBS Consumer
    Products division executive
    [who publicly provided clarification on the guidelines](http://www.axamonitor.com/doku.php?id=guidelines-podcast){:target=>"_blank"}.
    They will be sent to the following address as listed on the
    [CBS Consumer Products LinkedIn page](https://www.linkedin.com/company/cbs-consumer-products-inc-):

  %ul.mailing-address
    %li CBS Consumer Products
    %li Attn: John Van Citters
    %li 825 Eighth Avenue, 30th Floor
    %li New York, NY 10019

%button Ok, I'm ready to write a letter!






-#%h3 Effect on the Star Trek Fan Film Community
-#
-#%h3 Response from Community
-#
-#%h3 Missed Opportunity for Star Trek



