
%h1.title Save Star Trek Fan Films!

.section-base
  .container
    .col-lg-12
      :kramdown
        On June 23, 2016, CBS/Paramount, the copyright holders of the Star Trek franchise
        [issued a set of guidelines](http://www.startrek.com/fan-films){:target="_blank"} for all Star Trek fan films.
        These guidelines must be followed by the makers of any Star Trek fan production to avoid the risk of a copyright
        infringement lawsuit from these big corporate studios.

      :kramdown
        This website, SaveStarTrekFanFilms.com is created by Star Trek fans who enjoy our community-generated fan
        films. We believe that the new fan film guidelines are too onerous and we are advocating a letter-writing campaign
        to CBS/Paramount in the hope that they repeal or loosen the restrictions. Already, several fan productions
        have been shut down. These guidelines also will make it impossible for the most well-liked
        fan productions such as Star Trek New Voyages and Star Trek Continues to continue making new content.

      :kramdown
        If you want the full history on what triggered CBS/Paramount to issue fan film guidelines and its impact
        on the Star Trek fan film community, we recommend visiting the blog
        [AXA Monitor](http://www.axamonitor.com/){:target="_blank"}.

.section-gold
  .container
    .col-lg-12
      %h3 Letter Writing Campaign

      :kramdown
        As fans of Star Trek, we believe that CBS/Paramount is making a terrible mistake and missing a golden
        opportunity to connect with its most dedicated customers. We want to make our voice heard by the executives
        who imposed these guidelines. We want to let them know that what's good for the Star Trek fan community is good
        for the franchise and their business as well.

      %h3 How does this work?

      :kramdown
        A letter writing campaign by fans saved Star Trek from cancellation during its original television run in the 60's.
        We are hopeful that the same strategy could be effective in preserving the community's ability to create fan films
        today. Letters delivered by mail send a more powerful message than email because they are tangible require more
        effort.

      :kramdown
        This website SaveStarTrekFanFilms.com is here to make it easy for fans to write a letter! Type out your
        thoughts on the new Star Trek fan film guidelines using our form and we will forward your letter to CBS/Paramount.
        We plan on forwarding all of your letters received through this website to John Van Citters, the CBS Consumer
        Products division executive
        [who publicly provided clarification on the guidelines](http://www.axamonitor.com/doku.php?id=guidelines-podcast){:target=>"_blank"}.
        They will be sent to the following address as listed on the
        [CBS Consumer Products LinkedIn page](https://www.linkedin.com/company/cbs-consumer-products-inc-):

      %ul.mailing-address
        %li CBS Consumer Products
        %li Attn: John Van Citters
        %li 825 Eighth Avenue, 30th Floor
        %li New York, NY 10019

      We'll cover the printing and postage for you!

      %p.home-write-letter-button
        =link_to "Ok, I'm ready to write a letter!", new_letter_path, class: 'btn btn-primary btn-write-letter', role: 'button'

.section-blue
  .container
    .col-lg-12
      %h3 Productions Affected by Guidelines

      :kramdown
        This is a playlist of some of the Star Trek fan films that could not be created under the new guidelines for
        violating various criteria. Many of these existing fan films run over the 15 minute time constraint,
        required the use of paid professionals to create some of the visual effects, or involved the use of production
        and cast previously affiliated with Star Trek. Some of the most popular Star Trek fan productions such as
        *Star Trek Continues* and *Star Trek New Voyages* will not be able to continue without violating the guidelines.
        Even a web series like *The Red Shirt Diaries* would violate the guidelines due to the 2-episode restriction.
        Until recently, CBS/Paramount did not have any issue with any fan films that have been created.

      %p.center
        :plain
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLWHhhBCZ850QNOE7FHd7WDM1VMiz73rlu" frameborder="0" allowfullscreen></iframe>

.section-red
  .container
    .col-lg-12
      %h3 Reactions by Fans

      :kramdown
        The CBS/Paramount guidelines basically spell out the end of Star Trek fan fiction on YouTube. Say goodbye to
        web series and productions of decent quality.

      %p.center
        :plain
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLWHhhBCZ850TSjIRzcxWchQvr_Kj7vjb_" frameborder="0" allowfullscreen></iframe>

      %p.home-write-letter-button
        =link_to "Ok, I'm outraged and want to write CBS/Paramount!", new_letter_path, class: 'btn btn-primary btn-write-letter', role: 'button'


.section-footer
  .container
    .col-lg-12
      StarTrekFanFilms.com is a fan created website not affiliated with CBS/Paramount.



-#%h3 Effect on the Star Trek Fan Film Community
-#
-#%h3 Response from Community
-#
-#%h3 Missed Opportunity for Star Trek



